body {
    margin: 0;
    color: var(--semi-color-text-0);
    background-color: var(--semi-color-bg-2);
}

.cmfx-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.cmfx-actions * {
    flex-grow: 1;
    width: 150px;
    min-width: 100px;
}

.cmfx-table-actions {
    display: flex;
    gap: 5px;
}

@media print {
    .no-print {
        display: none !important;
    }

    .cmfx-table-actions {
        display: none !important;
    }
}
