body {
    margin: 0;
    color: var(--semi-color-text-0);
    background-color: var(--semi-color-bg-2);
}

/* 自适应的一组按钮 */
.cmfx-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.cmfx-actions * {
    flex-grow: 1;
    width: 150px;
    min-width: 100px;
}

.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    padding: 20px;
}

@media print {
    .no-print {
        display: none !important;
    }
}

/* 以下为了让 quill 支持 dark 模式 */

.ql-picker {
    color: var(--semi-color-text-0) !important;
}

.ql-fill {
    fill: var(--semi-color-text-0) !important;
}

.ql-stroke {
    stroke: var(--semi-color-text-0) !important;
}

.ql-picker-options {
    background-color: var(--semi-color-bg-2) !important;
    border-color: var(--semi-color-bg-2) !important;
}
